<main class="main-login">
    <section class="section-login-1 row-flex flex-justify-center flex-align-items-center">
        <article class="article-login-1 col-xs-9 col-sm-8 col-md-5 col-lg-4">
            <form id="form-login row-flex flex-direction-column">
                <div class="form-header">
                    <h3>Iniciar sesión</h3>
                </div>
                <div class="div-form-group row-flex flex-direction-column">
                    <label for="inputEmail">Email</label>
                    <input type="text" id="inputEmail" name="inputEmail" placeholder="Tu email..">
                </div>
                <div class="div-form-group row-flex flex-direction-column">
                    <label for="inputPassword">Contraseña</label>
                    <input type="text" id="inputPassword" name="inputPassword" placeholder="Your last name..">
                </div>
            </form>
        </article>
    </section>
</main>