<main class="main-login animated fadeIn">
    <section class="section-login-1 row-flex flex-justify-center flex-align-items-center">
        <article class="article-login-1 col-xs-9 col-sm-8 col-md-5 col-lg-4">
            <form id="form-login row-flex flex-direction-column">
                <div class="form-header">
                    <h3>Iniciar sesión</h3>
                </div>
                <div class="div-form-group row-flex flex-wrap">
                    <label for="inputEmail" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">Email</label>
                    <input type="text" class="col-xs-10 col-sm-10 col-md-10 col-lg-10" name="inputEmail" id="inputEmail" placeholder="your email..." required>
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 row-flex flex-justify-center flex-align-items-center"><i class="material-icons">check_circle</i></div>
                </div>
                <div class="div-form-group row-flex flex-wrap">
                    <label for="inputPassword" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">Last Name</label>
                    <input type="password" class="col-xs-10 col-sm-10 col-md-10 col-lg-10" name="inputPassword" id="inputPassword" placeholder="Your Last name...">
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 row-flex flex-justify-center flex-align-items-center"><i class="material-icons">check_circle</i></div>
                </div>
            </form>
        </article>
    </section>
</main>