.section-6{
    background-image: url('https://tecmalagaa.000webhostapp.com/src/assets/images/nave-2.jpeg');
    opacity: 0.75;
    .article-1{
        span {
            color: white;
            letter-spacing: 0.625rem;
            font-size: 3vmin;
            font-family: "Lato", sans-serif;
            line-height: 1.7;
        }
    }
}