.section-1 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section-1 {
    background-image: url('http://localhost/Proyectos-git/tecmalaga-sl/src/assets/images/nave-3.jpeg');
    opacity: 0.75;
}

.section-2 {
    background-image: url('http://localhost/Proyectos-git/tecmalaga-sl/src/assets/images/nave-2.jpeg');
}