.section-3{
    font-family: "Lato", sans-serif;
    .article-1{
        color: #777;
        font-size: 3vmin;
    }

    .article-2{
        color: white;
        background-color: #616161; 
    }
}