.top-nav-mobile {
    ul {  

        >li:last-child:hover{
            background-color: black;
        }
        >div{
            >li{
                background-color: white;
            }

            >li:hover {
                background-color: rgba(233, 207, 172, 0.8);
            }

            >li:hover a{
                color: black;
            }

        }
    }
}

@media screen and (min-width: 0px) and (max-width: 768px) {
   .font-resize{
       font-size: 4vmin;
   }
};